NEXT_PUBLIC_API_URL=https://api.sensybull.com/api/v1
NEXT_PUBLIC_APP_URL=https://app.sensybull.com
NEXT_PUBLIC_WWW_URL=https://www.sensybull.com
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_LOGO_DEV_TOKEN=
